doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Snabbdom DEMO w/ Cycle.js
        base(href="/")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="./assets/styles/app.css")
    body
        my-app loading...

        script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
        script(src="./assets/scripts/app.js")
