@import "_functions.styl"

.module-controller
    position absolute
    top gutter(2) + $navbar-height
    left gutter(2)
    padding gutter(2)
    width 200px
    background rgba(black, .9)
    color white

    .checkbox
        margin-bottom 20px
