@import "_functions.styl"

.navbar-nav
    a
        &.active
            &,
            &:hover
                color white !important
                background-color #080808 !important
.nav-tabs
    margin-bottom: gutter(2)
    a
        cursor pointer
