@charset "UTF-8"
@import "_variables.styl"

html,
body
  margin 0
  padding 0

.navbar
  margin-bottom 0
  &-brand
    cursor pointer

.home-title
  text-align center
  position absolute
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

@import "_animation.styl"
@import "_module-contoller.styl"
@import "_navigation"
@import "_navbar"
@import "_stage"
